*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
    background-color: #333;

}

.dialogue-background {
    background-color: #333;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
    position: relative;   

}

.dialogue {
    width: 100%;    
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    margin-top: 70%;
}

.container {
    width: 80%;
    max-width: 80%;    
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

body{ //for login page
    margin: 0;
    padding: 0%;
    font-family: 'Delius Unicase', cursive;
    background: #D2D9B5;
}
.mic{
    position: absolute;
    width: 55px;
    height: 57px;
    left: 60px;
    top: 220px;
}
.save{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 140px;
}
.audio{
    position: absolute;
    width: 74px;
    height: 74px;
    left: 50px;
    top: 50px;
}
.globe{
    position: absolute;
    width: 230px;
    height: 230px;
    left: 195px;
    top: -130px;
    border-radius: 50%;
}
.box, .pandabox{
    width: 625px;
    height: 380px;
    position: absolute;
    top: 335px;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  #C4C4C4;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 100px 50px;
}
.box input[type = "text"], .box input[type = "password"]{
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 450px;
    height: 30px;
    outline: none;
    color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    transition: 0.25s;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 500px;
    border-color: white;
}
.box input[type = "submit"]{
    border: 0;
    background: #E77D5C;
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 7px 7px;
    width: 200px;
    outline: none;
    color: white;
    font-family: 'Delius Unicase', cursive;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box input[type = "submit"]:hover{
    background-color: white;
    color: #E77D5C;
}
.pandabox{
    color: white;
}
.pandabox button{
    border: 0;
    background: #E77D5C;
    display: block;
    text-align: center;
    width: 300px;
    height: 70px;
    outline: none;
    color: white;
    font-family: 'Delius Unicase', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 113px;
    margin-top: 50px;
}
.pandabox button:hover{
    cursor: pointer;
    background-color: white;
    color: #E77D5C;
}
.pandabox a{
    text-decoration: none;
}

.register{
    position: absolute;
    width: 223px;
    height: 75px;
    left: 710px;
    top: 540px;
}
.register b{
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #5C5757;
}
.register a{
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #000000;
    text-decoration: none;
    padding-left: 10px;
}
.register a:hover{
    color: white;
}
.guest{
    position: absolute;
    left: 570px;
    top: 600px;
}
.guest button{
    background: #E77D5C;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 400px;
    height: 50px;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #EEEDED;
    border: none;
    font-size: 30px;
    margin-bottom: 10px;
}
.guest button:hover{
    cursor: pointer;
    background-color: white;
    color: #E77D5C;
}
.guest b{
    padding-left: 10px;
}
.back {
    position: absolute;
    left: 1300px;
    top: 650px;
}
.back button{
    background: #E77D5C;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 150px;
    height: 50px;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #EEEDED;
    border: none;
    font-size: 30px;
}
.back button:hover{
    cursor: pointer;
    background-color: white;
    color: #E77D5C;
}
.heading{
    font-family: 'Chewy', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    color: #000000;
    position: absolute;
    width: 200px;
    height: 84px;
    left: 250px;
    margin-bottom: 10px;
}
.registerbox{
    width: 950px;
    height: 420px;
    color: #fff;
    top: 50%;
    left: 730px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.registerbox label{
    margin: 0;
    padding: 0;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    font-size: 25px;
    text-align: left;
    color: #000;
    padding-top: 20px;
}
.registerbox input[type= "text"], .registerbox input[type= "password"], .registerbox input[type= "email"]{
    margin-bottom: 30px;
    border-radius: 15px;
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    border: 2px solid white;
    width: 100%;
    height: 50px;
    outline: none;
    color: black;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 10px;
}
.registerbox input::placeholder{
    color: white;
    font-family: 'Delius Unicase', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}
.registerbox input:focus::placeholder{
    color: #857c7c;
}
.registerbox input[type = "submit"]{
    border: 0;
    background: #E77D5C;
    display: block;
    margin-top: 20px;
    text-align: center;
    padding: 7px 7px;
    width: 200px;
    outline: none;
    color: white;
    font-family: 'Delius Unicase', cursive;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    border-radius: 15px;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registerbox input[type = "submit"]:hover{
    background-color: white;
    color: #E77D5C;
}
.registerbox small{
    color: red;
    font-size: 15px;
}

